# Environment variables for Production

# Domain for production deployment (used by Nginx and Certbot)
DOMAIN_PROD=yourdomain.com 

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=englishtest_db
POSTGRES_HOST=db
POSTGRES_PORT=5432